.pes {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
    font-size: 20px;
}
.pap {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: black;
    text-align: center;
    font-size: 20px;
}